In [3]:
#basic libraries 

import pandas as pd 
import numpy as np


import seaborn as sns
sns.set_palette("colorblind")
from matplotlib import pyplot as plt
%matplotlib inline
fig = plt.figure(figsize=(20,5))


import os
import datetime
import warnings
warnings.filterwarnings("ignore")

os.chdir("/Users/janechoi/Desktop/2020-CO-DEEP/org_data")


print(os.getcwd())

/Users/janechoi/Desktop/2020-CO-DEEP/org_data

In [11]:
total = pd.read_csv('tot_1519.csv')
total.shape #(706943, 24)
total.head()
total.columns

In [18]:
total['대출자 소속'].value_counts()[:10]

경영학과       40995
경제학과       32520
전자전기공학부    25560
기계공학부      22910
국어국문학과     20104
영어영문학과     15939
사학과        15494
신소재공학부     13511
글로벌경제학과    13397
글로벌리더학부    13362
Name: 대출자 소속, dtype: int64

In [30]:
total.rename(columns = {'대출분관':'borrow_loc', 
                        '등록번호': 'dungrok_num',
                        '학번 난수처리' : 'student_id',
                        '대출자신분': 'age',
                        '소장분관' : 'book_loc',
                        '소장서고' : 'book_loc_2',
                        '서명' : 'title',
                        '청구기호' : 'chungu_num',
                        '대출처리일자': 'borrow_date_time', 
                        '대출일자' : 'borrow_date',
                        '반납예정일자' : 'return_date',
                        '반납일자' : 'real_return_date',
                        '반납처리일자' :'real_return_date_2', 
                        '대출상태' : 'borrow_state',
                        '대출유형' : 'borrow_type' ,
                        '반납처리수단' : 'return_method', 
                        '반납유형' : 'return_type',
                        '서지번호' :'seoji_num' ,
                        '반납유형주기':'return_type_cycle', 
                        '연체일': 'late_day',
                        '예약수': 'reserve_amount',
                        '딸림주기': 'ddalim_cycle' ,
                        '대출처리수단': 'borrow_method' ,
                        '대출자 소속': 'major'
                        
                        
                       }, inplace=True)

In [37]:
total.dtypes
total['ddalim_cycle'].value_counts() #NA 다수 -> 버리기

2책(39 p. ; 26 cm, 55 p. ; 15 cm), 전자 광디스크(DVD) 1매    2
전자 광디스크 (CD-ROM) 1매                                  2
카세트 테이프 2개. +2 책.                                    1
지도 1매                                                1
Name: ddalim_cycle, dtype: int64

In [40]:
total['student_id'].value_counts()

0.325783    941
0.567746    697
0.730923    690
0.853559    638
0.610215    594
           ...
0.602490      1
0.509063      1
0.980730      1
0.863179      1
0.362892      1
Name: student_id, Length: 34742, dtype: int64

In [52]:
mr = total[(total['major']== '경영학과') |( total['major'] == '경제학과')]
yj = total[(total['major']== '전자전기공학부') |( total['major'] == '기계공학부')]
mr.shape #(73515, 24)
yj.shape #(48470, 24)
# mr.head()

mr.to_csv('mr.csv', index = False)
yj.to_csv('yj.csv', index =False)

In [55]:
m = pd.read_csv('mr.csv')
m.shape

(73515, 24)